

<style>
  .text-light{
    text-decoration: none !important;
  }
  .bi{
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
  .bi-whatsapp{
   color: rgb(13, 209, 13);
  }
  .bi-linkedin{
    color: rgb(13, 116, 219);
  }
</style>
<footer class="bg-dark text-light pt-5 pb-3 ">
  <div class="container">
    <div class="row">
      <!-- About -->
      <div class="col-md-4 mb-3">
        <h5>About Me</h5>
        <p>I am a Web Developer specializing in MERN Stack. I create modern, fast, and responsive websites for businesses and portfolios.</p>
      </div>
      

      <!-- Quick Links -->
      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/pradeepkumar/about" class="text-light text-decoration-none">About</a></li>
          <li><a href="/pradeepkumar/project" class="text-light text-decoration-none">Projects</a></li>
          <li><a href="/pradeepkumar/blog" class="text-light text-decoration-none">Blog</a></li>
          <li><a href="/pradeepkumar/contact" class="text-light text-decoration-none">Contact</a></li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 mb-3">
        <h5>Connect with Me</h5>
        <a href="https://www.linkedin.com/in/pradeep-kumar-gangwar"
        target="_blank" class="text-light me-4"><i class="bi bi-linkedin"></i> LinkedIn</a><br>
        <a href="https://github.com/pradeepkumar456"  target="_blank" class="text-light me-4"><i class="bi bi-github"></i> GitHub</a><br>
        <a href="https://wa.me/917452861837?text=Hello%20Pradeep%2C%20I%20visited%20your%20portfolio." 
        target="_blank"
        class="text-light me-4"><i class="bi bi-whatsapp"></i> WhatsApp</a>
      </div>
    </div>
    <hr class="text-light">
    <div class="text-center">
      &copy; 2025 Pradeep Kumar . All Rights Reserved.
    </div>
  </div>
</footer>